body {
  margin: 0;
  background-color: #1e2335;
  display: flex;
  justify-content: center;
}

.greeting {
 position: fixed;
 font-size: 1.5em;
 color: #ffffff43;
 font-weight: 300;
}

canvas {
  margin-top: 5%;
  z-index: 10;
  border: 1px solid #1c1c1c34;
  box-shadow: #00000059 0px 5px 15px;
  border-radius: 2px;
}

.game-over-container {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 700px;
  background-color: #171d34;
  border: 1px solid #1c1c1c34;
  border-radius: 15px;
  margin-top: -4px;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff68;
  box-shadow: #13132740 0px 5px 15px;
}

button {
  background-color: #204360;
  background-color: #752837fc;
  border-radius: 6px;
  border: none;
  color: #ffffffaa;
  cursor: pointer;
  font-size: 1.3rem;
  outline: none;
  padding: .8rem 1.5rem .8rem 1.5rem;
  text-align: center;
  text-transform: none;
  transition: all .2s;
  box-shadow: #13132740 0 0 0 1px inset,
    #13132740 0 2px 5px 0,
    #13132740 0 1px 1px 0;
  user-select: none;
  touch-action: manipulation;
  letter-spacing: 1px;
}

button:hover {
  filter: brightness(90%);
}

button:focus {
  outline: none;
}

h1 {
  font-weight: normal;
  color: #ffffff83;
}

.waveBG {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* Montior and Larger */
@media screen and (min-width: 1800px) {
  canvas {
    margin-top: 100px;
  }

  .game-over-container {
    margin-top: -19px;
  }
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
  canvas {
    width: 100%;
    height: 700px;
    margin-top: 50px;
  }

  .game-over-container {
    width: 100%;
    height: 700px;
  }
}